body {
  background-color: white;
}
div.main {
  width: 1000px;
  margin: auto;
}
div.heading {
  background-color: darkslategray;
}
div.content {
  background-color: coral;
  display: flex;
}
div.body {
  background-color: cornflowerblue;
  padding: 10px;
}
div.side {
  background-color: darkseagreen;
  padding: 10px;
}
div.footer {
  background-color: darkslategray;
}