body {
    background-color: white;
}
div.main {
    width: 1200px;
    margin: auto;
}
div.heading {
    background-color: darkslategray;
}
div.content {
    background-color: coral;
    display: flex;
}
div.centered {
    text-align: center;
}
div.body {
    background-color: darkolivegreen;
    padding: 10px;
    width: 66.7%;
}
div.side {
    background-color: darkseagreen;
    padding: 10px;
    width: 33.3%;
}
div.footer {
    background-color: darkslategray;
}
div.tables {
    background-color: goldenrod;
    display:flex;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
button {
    border: 2px solid #2d8856;
    cursor: pointer;
    color: #2d8856;
    background-color: #2e2c2c;
    outline: none;
    /* this causes the ripple effect to fade over time */
    background-position: center;
    transition: background 0.6s;
}
button:hover {
    /* this is where the ripple effect is defined */
    background: #3f3c3c radial-gradient(circle, transparent 1%, #3f3c3c 1%) center/15000%;
}

button:active {
    /* this sets the ripple to max opacity and starts animating */
    background-color: #555252;
    background-size: 100%;
    transition: background 0s;
}

.rating_button {
    border-radius: 50%;
    font-size: 24px;
    width: 50px;
    height: 50px;
}

.menu_button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 10px;
}